<div id="campagneContainer" class="center-align rightBuffer">
    <div class="row">
        <div class="card col s8">
            <div class="card-content">
                <h3 class="center-align" id="titre">{{campagne.nomCampagne}}</h3>
                <div class="row">
                    <div class="col s12">
                    </div>
                    <div id="description" class="col s12 left-align">{{campagne.description}}</div>
                </div>
                <canvas id="bar-chart" width="600" height="400"></canvas>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s3">
            <div class="card">
                <div class="card-content left-align">
                    <br/>
                    <div class="bar">
                        <div class="percentage has-tip" style="width: {{pourcentageAffiche}}%" id="barChargement">
                        </div>
                        <br/>
                    </div>
                    <h5><b id="montantActuel">{{campagne.montantActuel}}</b> ETH collectés sur <b id="but">{{campagne.but}}</b>                        ETH demandés</h5>
                    <p id="perc">(soit {{pourcentage}}% achevé)</p>
                    <br/>
                    {{#ifCond session.typeCompte '==' 0}}
                      <p><b>Vous ne pouvez pas contribuer en tant que modérateur</b></p>
                    {{else}}
                      {{#ifCond session.isConnected '==' true}}
                          {{#ifCond isFinished '==' true}}
                              <p>La campagne est terminée</p>
                          {{else}}
                              <p>{{joursRestants}} jours restants</p>
                          {{/ifCond}}
                          <br/>
                          <p>Vous avez contribué <b id="nbContribsss">{{nbContribsss}}</b> fois à ce projet</p>
                      {{else}}
                          <p>{{joursRestants}} jours restants</p>
                          <p></p>
                          <a id="login" class="waves-effect waves-light btn-large blue col s12" href="/Connexion">Connectez-vous</a>
                          <p class="center-align">---OU---</p>
                          <a id="signup" class="waves-effect waves-light btn-large blue" href="/Inscription">Inscrivez-vous</a>
                      {{/ifCond}}
                    {{/ifCond}}
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-content left-align">
                    <b>Projet propulsé par :</b>
                    <p>{{nomEntrepreneur}} {{prenomEntrepreneur}}</p>
                    <p>({{entreprise}})</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contribuez" class="modal">
    <div class="modal-content">
        <h3>Contribuer à la campagne {{campagne.nomCampagne}}</h3>
        <form class="row">
            <div class="input-field col s6">
                <label for="montant">Contribuez pour (exemple : 0.25 ether)</label>
                <input name="montant" type="text" id="montantJS" class="validate">
            </div>
            <br/>
            <p>Ether</p>
            <br/>
            <p id="error" class="red-text"></p>
            <div class="col s12">
                <input class="modal-action modal-close btn waves-effect waves-light orange" type="reset" value="Annuler">
                <a class="btn waves-effect waves-light orange" id="submitParticipation">Confirmer la contribution</a>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/afficherDescription.js"></script>
<script>
    var ctx = document.getElementById("bar-chart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

</script>
<link rel="stylesheet" href="/stylesheets/afficherCampagne.css">
