
<div class="campagnesContainer">
    <div class="row">
        {{#each campagnes}}
            <div class="col s4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator cardImg" src="/images/uploads/{{image}}" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{nomCampagne}}<i class="material-icons right">expand_less</i></span>
                        <p><a href="/campaign/{{idCampagne}}">Découvrir</a></p>
                        <p><a href="/campaignStats/{{idCampagne}}">Voir les statistiques</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 activator">{{nomCampagne}}<i class="material-icons right">expand_more</i></span>
                        <p>{{descriptionCourte}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/javascripts/campaignCard.js"></script>
<link rel="stylesheet" href="/stylesheets/afficherLesCampagnes.css">

