<div id="campagneContainer" class="center-align rightBuffer">
    <div class="row">
        <div class="card col s8">
            <div class="card-content">
                {{#ifCond session.isConnected '==' true}}
                        <a id="favbutton" class="btn-floating btn-large waves-effect waves-light orange left tooltipped" data-position="right" data-delay="50" data-tooltip="tooltip text placeholder"><i id="favicon" class="material-icons">close</i></a>
                {{/ifCond}}
                <p hidden id="testConnect">{{session.typeCompte}}</p>
                <p hidden id="currentCamp">{{campagne.idCampagne}}</p>
                <p hidden id="isFav">{{isFav}}</p>
                <h3 class="center-align" id="titre">{{campagne.nomCampagne}}</h3>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s6"><a class="active" href="#description">Description</a></li>
                            <li class="tab col s6"><a href="#contribs">Contributeurs (<b id="nbContributeurs">{{nbContributeurs}}</b> contributions)</a></li>
                        </ul>
                    </div>
                    <div id="description" class="col s12 left-align">{{campagne.description}}</div>
                    <div id="contribs" class="col s12">
                        <table class="striped highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each contributeurs}}
                                <tr>
                                    <td>{{this.nom}}</td>
                                    <td>{{this.prenom}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    <div class="col">
            <!-- Buttons start here. Copy this ul to your document. -->
    Partager sur :
    </br>
        <ul class="rrssb-buttons clearfix">
        <li class="rrssb-email">
            <!-- Replace subject with your message using URL Encoding: http://meyerweb.com/eric/tools/dencoder/ -->
            <a href="mailto:?Subject=your%20subject">
            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"/></svg></span>
            <span class="rrssb-text">email</span>
            </a>
        </li>
        <li class="rrssb-facebook">
            <!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://vps409515.ovh.net:1047/campaign/{{campagne.idCampagne}}" class="popup">
            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg></span>
            <span class="rrssb-text">facebook</span>
            </a>
        </li>
        <li class="rrssb-twitter">
            <!-- Replace href with your Meta and URL information  -->
            <a href="https://twitter.com/intent/tweet?text=http://vps409515.ovh.net:1047/campaign/{{campagne.idCampagne}}"
            class="popup">
            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg></span>
            <span class="rrssb-text">twitter</span>
            </a>
        </li>
        </ul>
    <!-- Buttons end here -->
    </div>
        <div class="col s3">
            <div class="card">
                <div class="card-content left-align">
                    <br/>
                    <div class="bar">
                        <div class="percentage has-tip" style="width: {{pourcentageAffiche}}%" id="barChargement">
                        </div>
                        <br/>
                    </div>
                    <h5><b id="montantActuel">{{campagne.montantActuel}}</b> ETH collectés sur <b id="but">{{campagne.but}}</b>                        ETH demandés</h5>
                    <p id="perc">(soit {{pourcentage}}% achevé)</p>
                    <br/>
                    {{#ifCond session.typeCompte '==' 0}}
                      <p><b>Vous ne pouvez pas contribuer en tant que modérateur</b></p>
                    {{else}}
                      {{#ifCond session.isConnected '==' true}}
                          {{#ifCond isFinished '==' true}}
                              <p>La campagne est terminée</p>
                              <br/>
                              <a id="contribute" class="waves-effect waves-light btn-large modal-trigger disabled" href="#contribuez">Contribuez</a>
                          {{else}}
                              <p>{{joursRestants}} jours restants</p>
                              <br/>
                              <a class="waves-effect waves-light btn-large modal-trigger blue" id="contribute" href="#contribuez">Contribuez</a>
                          {{/ifCond}}
                          <br/>
                          <p>Vous avez contribué <b id="nbContribsss">{{nbContribsss}}</b> fois à ce projet</p>
                      {{else}}
                          <p>{{joursRestants}} jours restants</p>
                          <p></p>
                          <a id="login" class="waves-effect waves-light btn-large blue col s12" href="/Connexion">Connectez-vous</a>
                          <p class="center-align">---OU---</p>
                          <a id="signup" class="waves-effect waves-light btn-large blue" href="/Inscription">Inscrivez-vous</a>
                      {{/ifCond}}
                    {{/ifCond}}
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-content left-align">
                    
                        <b>Liste Contreparties :</b>
                        {{#each contreparties}}
                        <div href="#contribuez" class="contrepartie" id={{this.montant}}>
                        <div class="waves-effect waves-orange">
                            <p class="orange-text"><b>Pour {{this.montant}} <img class="img" src="/images/logo-eth.png"  width="25" alt="Logo Eths" /> ou plus</b></p>
                            <p class="montantPar"><b>{{this.descCP}}</b></p>
                            <div class="divider"></div>
                        </div>
                        </div>
                        {{/each}}
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="left-align col m6 s12">
                            <b>Projet propulsé par :</b>
                            <p>{{nomEntrepreneur}} {{prenomEntrepreneur}}</p>
                            <p>({{entreprise}})</p>
                        </div>
                        {{#ifCond session.isConnected '==' true}}
                            <div class="center-align col m6 s12">
                                <a id="btnSendMail" class="waves-effect waves-orange btn-flat blue-text btn-large white modal-trigger" href="#modalMail"><i class="material-icons left">email</i></a>
                            </div>
                        {{/ifCond}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4>Commentaires</h4>
    <div class="row">
        <div class="col s10">
            <div class="row">
                {{#ifCond session.isConnected '==' true}}
                    {{#ifCond hasCont '==' 1}}
                        <button  id="btnComm" class="btn waves-effect waves-light" name="btnComm">Ecrire Commentaire<i class="material-icons right">edit</i></button>
                    {{else}}
                        <p class="center-align"><b>Vous devez contribuer pour poster un commentaire</b></p>
                    {{/ifCond}}
                {{else}}
                    <p class="center-align"><b>Vous devez être connecté pour poster un commentaire</b></p>
                {{/ifCond}}
                <div class="commForm">
                        <div class="input-field col s10">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="areaComm" class="materialize-textarea"></textarea>
                            <label for="comm">Votre Commentaire</label>
                        </div>
                            <h5 id="error" class="red-text"></h5>
                    <button id="btnPost" class="btn waves-effect waves-light" name="btnPost">Poster Commentaire<i class="material-icons right">send</i></button>
                </div>
            </div>
        </div>
  </div>
  {{#ifCond nbComms '>' 0}}
  <div class="card">
    <div class="card-content">
        {{#each commentaires}}
            <div class="row hoverable">
                    
                    <div class="col s12"><span class="flow-text"><i>{{this.comm}}</i></span></div> 
                    <div class="col s6 offset-s8"><span class="flow-text blue-text">{{this.prenom}} {{this.nom}}</span></div>
                    <div class="col s10 divider offset-s1"></div>
            </div>
        {{/each}}
    </div>
    </div>
{{/ifCond}}
</div>
<div id="contribuez" class="modal">
    <div class="modal-content">
        <h3>Contribuer à la campagne {{campagne.nomCampagne}}</h3>
        <form class="row">
            <div class="input-field col s6">
                <label for="montant">Contribuez pour (exemple : 0.25 ether)</label>
                <input name="montant" type="text" id="montantJS" class="validate">
            </div>
            <br/>
            <p>Ether</p>
            <br/>
            <p id="error" class="red-text"></p>
            <div class="col s12">
                <input class="modal-action modal-close btn waves-effect waves-light orange" type="reset" value="Annuler">
                <a class="btn waves-effect waves-light orange" id="submitParticipation">Confirmer la contribution</a>
            </div>
        </form>
    </div>
</div>
<<<<<<< HEAD
<script src="/javascripts/rrssb.js"></script>
=======

<div id="modalMail" class="modal">
    <div class="modal-content">
        <h4>Envoyer un mail à {{nomEntrepreneur}} {{prenomEntrepreneur}}</h4>
        <div class="input-field col s7">
            <i class="material-icons prefix">subject</i>
            <input id="subjectEmail" type="text">
            <label for="subjectEmail">Sujet</label>
        </div>
        <div class="input-field col s7">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="textEmail" class="materialize-textarea"></textarea>
            <label for="textEmail">Corps du mail</label>
        </div>
    </div>
    <div class="col s7" style="margin-left: 2rem">
        <p class="red-text" id="errorMail"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Annuler</a>
        <a href="#!" id="sendMail" class="waves-effect waves-green btn-flat"><i class="material-icons left">send</i> Envoyer</a>
    </div>
</div>

>>>>>>> e9d8d4aa61301e133f6036e098d7743d588dcc0b
<script src="/javascripts/afficherDescription.js"></script>
<link rel="stylesheet" href="/stylesheets/afficherCampagne.css">
<link rel="stylesheet" href="/stylesheets/rrssb.css">