<div class="row center-align">
    <h1>Inscription</h1>
    <ul id="tabs-swipe" class="tabs">
        <li class="tab col s2 offset-s4"><a class="active" href="#tab-swipe-contributeur">Contributeur</a></li>
        <li class="tab col s2"><a href="#tab-swipe-entrepreneur">Entrepreneur</a></li>
    </ul>
    <div id="tab-swipe-contributeur" class="col s12">
        <form method="post" action="/validationInscriptionContributeur">
            <div class="input-field col s2 offset-s4">
                <input name="lastnameC" type="text" class="validate" {{#if nomC}}value="{{nomC}}"{{/if}}>
                <label for="lastnameC">Nom</label>
            </div>
            <div class="input-field col s2">
                <input name="firstnameC" type="text" class="validate" {{#if prenomC}}value="{{prenomC}}"{{/if}}>
                <label for="firstnameC">Prénom</label>
            </div>
            <div class="input-field col s2 offset-s4">
                <input name="loginC" type="text" class="validate" {{#if loginC}}value="{{loginC}}"{{/if}}>
                <label for="loginC">Login</label>
            </div>
            <div class="input-field col s2">
                <input name="passwordC" type="password" class="validate" {{#if passwordC}}value="{{passwordC}}"{{/if}}>
                <label for="passwordC">Mot de passe</label>
            </div>
            <div class="input-field col s2 offset-s4">
                <input name="emailC" type="email" class="validate" {{#if emailC}}value="{{emailC}}"{{/if}}>
                <label for="emailC">E-mail</label>
            </div>
            <div class="input-field col s2">
                <input name="addressC" type="text" class="validate" {{#if addressC}}value="{{addressC}}"{{/if}}>
                <label for="addressC">Adresse Ethereum</label>
            </div>
            <div id="erreurInscription" class="col s2 offset-s5">
                {{#if erreurInscriptionC}}
                    <span>{{erreurInscriptionC}}</span>
                {{/if}}
            </div>
            <div class="col s12">
                <input class="btn waves-effect waves-light" type="reset" value="Annuler">
                <input class="btn waves-effect waves-light" type="submit" value="inscription">
            </div>
        </form>
    </div>
    <div id="tab-swipe-entrepreneur" class="col s12">
        <form method="post" action="/validationInscriptionEntrepreneur">
            <div class="input-field col s2 offset-s4">
                <input name="lastnameE" type="text" class="validate" {{#if nomE}}value="{{nomE}}"{{/if}}>
                <label for="lastnameE">Nom</label>
            </div>
            <div class="input-field col s2">
                <input name="firstnameE" type="text" class="validate" {{#if prenomE}}value="{{prenomE}}"{{/if}}>
                <label for="firstnameE">Prénom</label>
            </div>
            <div class="input-field col s2 offset-s4">
                <input name="loginE" type="text" class="validate" {{#if loginE}}value="{{loginE}}"{{/if}}>
                <label for="loginE">Login</label>
            </div>
            <div class="input-field col s2">
                <input name="passwordE" type="password" class="validate" {{#if passwordE}}value="{{passwordE}}"{{/if}}>
                <label for="passwordE">Mot de passe</label>
            </div>
            <div class="input-field col s2 offset-s4">
                <input name="emailE" type="email" class="validate" {{#if emailE}}value="{{emailE}}"{{/if}}>
                <label for="emailE">E-mail</label>
            </div>
            <div class="input-field col s2">
                <input name="nomEntrepriseE" type="text" class="validate" {{#if nomEntrepriseE}}value="{{nomEntrepriseE}}"{{/if}}>
                <label for="nomEntrepriseE">Nom de la société</label>
            </div>
            <div class="input-field col s4 offset-s4">
                <input name="addressE" type="text" class="validate" {{#if addressE}}value="{{addressE}}"{{/if}}>
                <label for="addressE">Adress Ethereum</label>
            </div>
            <div class="file-field input-field col s4 offset-s4">
                <div class="btn">
                    <span>Pièce d'identité</span>
                    <input name="piece1" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input name="piece2" class="file-path validate" type="text">
                </div>
            </div>
            {{#if erreurInscriptionE}}
                <span>{{erreurInscriptionE}}</span>
            {{/if}}
            <div class="col s12">
                <input class="btn waves-effect waves-light" type="reset" value="Annuler">
                <input class="btn waves-effect waves-light" type="submit" value="inscription">
            </div>
        </form>
    </div>
</div>