<div id="profileForm" class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="input_nom" value="{{profile.nom}}" type="text" class="validate">
                <label for="input_nom">Nom</label>
            </div>
            <div class="input-field col s6">
                <input id="input_prenom" value="{{profile.prenom}}" type="tel" class="validate">
                <label for="input_prenom">Prénom</label>
            </div>
        </div>
        <div id="mail" class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">mail</i>
                <input id="input_mail" value="{{profile.mail}}" type="email" class="validate">
                <label for="input_mail">Mail</label>
            </div>
            <div class="input-field col s6">
                <input id="input_mailConfirm" value="{{profile.mail}}" type="email" class="validate">
                <label for="input_mailConfirm">Confirmer le mail</label>
            </div>
        </div>
        <div id="password" class="row">
            <div class="input-field col s6">
                <input disabled id="input_password" name="password" value="{{profile.password}}" type="password" class="validate">
                <label for="input_password">Password</label>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light black right" onclick=""><i class="material-icons">edit</i></a>
        </div>
        <div id="modifPassword" class="row hide">
            <div class="row">
                <div class="input-field col s6">
                    <input id="input_password" name="oldMDP" type="password" class="validate">
                    <label for="input_oldPassword">Ancien Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="input_password" name="mdp" type="password" class="validate">
                    <label for="input_password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input id="input_passwordConfirm" name="mdpConfirm" type="password" class="validate">
                    <label for="input_passwordConfirm">Confirmer le password</label>
                </div>
            </div>
        </div>
        <div id="addrPubliqueEth" class="row">
            <div class="input-field col s6">
                <input id="input_addrPubliqueEth" name="addrPubliqueEth" value="{{profile.addrPubliqueEth}}" type="text" class="validate">
                <label for="input_addrPubliqueEth">Ancien Password</label>
            </div>
        </div>
    </form>
</div>