<div class="row">
    <div class="col s12 offset-s3">
        <ul class="tabs">
            <li class="tab col s3">
                <a class="active" href="#notifications">Notifications</a>
            </li>
            <li class="tab col s3">
                <a href="#messages">Messages</a>
            </li>
        </ul>
    </div>

    <div id="notifications" class="col s6 offset-s3">
        {{#if notifications}}
            <div class="input-field">
                <input name='searchNotif' id="searchNotif" type="text" onchange="searchFunc(event);">
                <label for="search">Rechercher des notifications</label>
            </div>

            <ul id="notifications" class="collection">

                {{#each notifications}}
                    <li class="collection-item hoverable grey lighten-3 textNotifs">
                        <p>{{this.text}}</p>
                        <p class="grey-text">Le {{formatDate this.date 'DD/MM/YYYY HH:mm:ss'}}</p>
                    </li>
                {{/each}}
            </ul>

        {{else}}
            <br>
            <h5 class="center">Aucune notification</h5>
        {{/if}}
    </div>

    <div id="messages" class="col s6 offset-s3">
        {{#if messages}}
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="searchMess" class="autocompleteMess">
                            <label for="searchMess">Rechercher des messages</label>
                        </div>
                    </div>
                </div>
            </div>

            {{#each messages}}
                <div class="card deep-orange lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{this.title}}
                            <button idDM={{idDM}} class="waves-effect waves-light btn-flat right tooltipped msgdel" data-position="top" data-tooltip="Effacer">
                                <i class="material-icons">delete</i>
                            </button>
                        </span>
                        <p>{{this.message}}</p>
                    </div>
                    <div class="card-action">
                        <a class="grey-text">Envoyé par {{this.sendername}} le {{formatDate this.datetime 'DD/MM/YYYY'}} à {{formatDate this.datetime 'HH:mm'}}</a>
                        <a class="right waves-effect waves-light" href="#">Répondre
                            <i class="material-icons prefix">send</i>
                        </a>
                    </div>
                </div>
            {{/each}}

        {{else}}
            <br>
            <h5 class="center">Aucun message</h5>
        {{/if}}
    </div>
</div>



<div class="fixed-action-btn">
    <a class="btn-floating btn-large orange modal-trigger tooltipped" data-position="left" data-tooltip="Envoyer un message privé" href="#writeModal">
        <i class="large material-icons">mode_edit</i>
    </a>
</div>

<div id="writeModal" class="modal">
    <div class="modal-content">
        <h6>Envoyer un message privé</h6>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">face</i>
                    <input type="text" id="messageRecipient" class="autocompleteUser">
                    <label for="messageRecipient">Chercher un destinataire</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="messageTitle" type="text" class="validate">
                <label for="messageTitle">Titre</label>
            </div>

            <div class="input-field col s12">
                <textarea id="messageBody" class="materialize-textarea"></textarea>
                <label for="messageBody">Message</label>
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right">Annuler</a>
        <a href="#!" id="sendButton" class="modal-action modal-close waves-effect waves-green btn-flat left">Envoyer</a>
    </div>
</div>

<script src="/javascripts/notifications.js"></script>
<link rel='stylesheet' href='/stylesheets/notifications.css' />