<div class="row">
    <div class="col s12 offset-s3">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#notifications">Notifications</a></li>
            <li class="tab col s3"><a href="#messages">Messages</a></li>
        </ul>
    </div>

    <div id="notifications" class="col s6 offset-s3">
        {{#if notifications}}
            <div class="input-field">
                <input name='searchNotif' id="search" type="text" onchange="searchFunc(event);">
                <label for="search">Rechercher des notifications</label>
            </div>

            <ul id="notifications" class="collection">
                {{#each notifications}}
                    <li class="collection-item hoverable grey lighten-3 textNotifs">
                        <p>{{this.text}}</p>
                        <p class="grey-text">Le {{formatDate this.date 'DD/MM/YYYY HH:mm:ss'}}</p>
                    </li>
                {{/each}}
            </ul>        
        {{else}}
            <br>
            <h5 class="center">Aucune notification</h5>
        {{/if}}
    </div>

    <div id="messages" class="col s6 offset-s3">
        {{#if messages}}
            <div class="row">
                <div class="input-field">
                    <input name='searchMess' id="search" type="text" onchange="searchMess(event);">
                    <label for="search">Rechercher des messages</label>
                </div>
            </div>
 
            {{#each messages}}
                <div class="card deep-orange lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{this.title}} 
                            <a class="waves-effect waves-light btn-flat right tooltipped" data-position="top" data-tooltip="Effacer" href="#"><i class="material-icons">delete</i></a>
                        </span>
                        <p>{{this.message}}</p>
                    </div>
                    <div class="card-action">
                        <a class="grey-text">Envoyé par {{this.sendername}} le {{formatDate this.datetime 'DD/MM/YYYY HH:mm:ss'}}</a>
                        <a class="right waves-effect waves-light" href="#">Répondre <i class="material-icons prefix">send</i></a>

                        
                    </div>
                </div>
            {{/each}}
            
        {{else}}
            <br>
            <h5 class="center">Aucun message</h5>
        {{/if}}
    </div>
</div>
<script src="/javascripts/notifications.js"></script>
<link rel='stylesheet' href='/stylesheets/notifications.css' />