{{#ifCond session.typeCompte '==' 0}}
  {{#ifCond campagnes.length '>' 0}}
    <h3 class="center-align">Campagnes en attente de validation</h3>
    <div class="campagnesContainer">
        <div class="row">
            {{#each campagnes}}
                <div class="col s4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator cardImg" src="/images/placeholder2.jpg" />
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{nomCampagne}}<i class="material-icons right">expand_less</i></span>
                            <p><a href="/campaignWaiting/{{idCampagne}}">Découvrir</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4 activator">{{nomCampagne}}<i class="material-icons right">expand_more</i></span>
                            <p>{{descriptionCourte}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <link rel="stylesheet" href="/stylesheets/afficherLesCampagnes.css">
  {{else}}
    <h4 class="center-align">Il n'y a aucune campagne à valider</h4>
  {{/ifCond}}
{{else}}
  <h2 class="center-align">Vous n'avez pas accès à cette page</h2>
{{/ifCond}}
